body {
  font-family: sans-serif,tahoma,Arial;
}
h1,
h2
{
  font-family: 'courier new',nazanin,tahoma;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 14px;
  font-weight: bold;
}
.container-fluid {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 10px;
}

.hero-unit.home {
  border-bottom: 1px solid #BC9E5F;
  padding: 10px;
  text-align: center;
}

body {
  background: url("../assets/img/seal.png") no-repeat fixed 80% 90% transparent;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
