@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Noto+Sans:400,700);

body {
  font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
ul a[rel="footnote"] {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Roboto Slab", Georgia, serif;
   font-weight: normal;
}
h1 {
  border-bottom: none;
  line-height: 30px;
  font-size: 28px;
}
h2 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}

.container-fluid {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 10px;
}

.hero-unit.home {
  background-color: none;
  border-bottom: 1px solid #BC9E5F;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body {
  background: url("../assets/img/seal.png") no-repeat fixed 80% 90% transparent;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
